@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../../public/assets/font/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf');
}

body {
    font-family: "Plus Jakarta Sans";
}